body {
  font-family: monospace;
  background-image: url("https://images.pexels.com/photos/1933900/pexels-photo-1933900.jpeg?cs=srgb&dl=pexels-rahul-pandit-1933900.jpg&fm=jpg");
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  color: white;
}

#title {
  font-size: 35px;
  text-align: center;
}

#description {
  text-align: center;
  font-size: 18px;
}

header {
  line-height: 10px;
  padding: 20px;
}

.first-three {
  line-height: 20px;
}

.all {
  background-color: #006400;
  max-width: 650px;
  max-height: 1200px;
  margin: auto;
  opacity: 0.9; /* Transparent */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px;
}

#name-label {
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 22px;
}

#name {
  font-size: 20px;
  float: left;
  margin-left: 20px;
  width: 600px;
  border-radius: 5px;
}

#email-label {
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 22px;
}

#email {
  font-size: 20px;
  float: left;
  margin-left: 20px;
  width: 600px;
  border-radius: 5px;
}

#number-label {
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 22px;
}

#number {
  font-size: 20px;
  float: left;
  margin-left: 20px;
  width: 600px;
  border-radius: 5px;
}

.radio {
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 22px;
  line-height: 20px;
}

input[type='radio'] { transform: scale(2); }

.dropmenu {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  float: left;
}

#dropmenu-label {
  float: left;
  margin-bottom: 10px;
}

#dropdown {
  font-size: 20px;
  width: 600px;
  border-radius: 5px;
}

.checkbox {
  font-size: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 22px;
  line-height: 20px;
}

input[type='checkbox'] { transform: scale(2); }

.textareaclass {
  margin-top: 10px;
  margin-left: 20px;
  float: left;

}

#textarea-label {
  font-size: 20px;
  float: left;
  margin-bottom: 7px;
  padding-top: 10px;
  
}

#textarea {
  font-size: 20px;
  float: left;
  width: 600px;
  border-radius: 3px;
  resize: none;
  
}

button {
  background-color: white;
  color: black;
  width: 600px;
  padding: 15px;
  margin: 21px;
  margin-left: 23px;
  margin-top: 35px;
}

button:hover {
  color: white;
  background-color: #556B2F;
}

#submit {
  font-size: 20px;
}