button {
	font-size: 18px;
	width: 100px;
	height: 50px;
	
}

/* Radio Buttons on index 6 */

.radio {
	font-size: 1vw;
	
}


/* Here I have tried to see when a button which says the type of the wave sound is on
	but It stays only until I press somewhere else, even if the type of sound still did not change */

.selector:active {
	width: 5vw;

}

.selector:hover {
	background-color: gray;
}

.selector:focus {
	background-color: gray;
}



p {
	font-size: 20px;
	font-weight: bold;
	
}

.p2 {
	text-align: left;
	width: auto;
	
}

.master {
	width: 50px;
	height: 25px;
	float: left;
	font-size: 11px;
	margin-left: 5px;
	padding: 2px;
}


.main {
	width: 25vw;
	padding: 20px 20px 40px 20px;
	border-radius: 15px;
	border: 5px solid white;
	margin: auto;
	background-color: yellow;
	text-align: center;
	
	
}
body {
	background-color: gray;
	font-family: monospace;
}
.slidecontainer {
  width: 100%;
  padding-bottom: 20px;
}

.slider {
	border: none;
	float: left;
	width: 25vw;
	
}