body {
    margin: 0;
    background-color: hsl(214, 47%, 23%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}
.rock {
    border: 10px solid hsl(349, 71%, 52%);
}

.paper {
    border: 10px solid hsl(230, 89%, 62%);
}

.scissors {
    border: 10px solid hsl(39, 89%, 49%);
}

.sign {
    width: 6.5rem;
    height: 13ex;
    border-radius: 50%;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.pointer-events {
    pointer-events: none;
}

.pointerOn {
    cursor: pointer;
}

.width {
    width: 6.1em;
}

.hidden {
    display: none;
}

.sizeP {
    font-size: 18px;
}

.grayborder {
  border: 10px solid gray;
}

.grayArrows {
    color: gray;
}

.lightgrayBackground {
    background-color: lightgray;;
}

.backgroundImg-noRepeat-centered {
    background-repeat: no-repeat;
    background-position: center;
}

.paperImg {
    background-image: url("images/icon-paper.svg");
}

.scissorsImg {
    background-image: url("images/icon-scissors.svg");
}

.rockImg {
    background-image: url("images/icon-rock.svg"); 
}

.arrowsSize {
	font-size: 5em;
}

#wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

#title {
    width: 500px;
    margin: 0 auto;
    margin-top: 3ex;
    border: 2px hsl(217, 16%, 45%) solid;
    border-radius: 11px;
}

#image1 {
    padding: 1em;
    width: 8em;
}

#score {
    float: right;
    background-color: white;
    width: 6rem;
    height: 10ex;
    margin-top: .85em;
    margin-right: 1em;
    border-radius: 9px;
    text-align: center;
}

#score p {
   color: hsl(229, 64%, 46%);
   position: relative;
   bottom: 6px;
}

#display_score {
    bottom: 23px;
    position: relative;
}

#game1 {
    display: block;
    width: 269px;
    margin: 5rem auto;
    height: 36ex;
}
@media (min-width: 1900px) {
	#game1 {
		height: 65ex;
	}
}

#scissors1 {
    left: 2.9em;
    position: relative; 
}

#rock1 {
    left: 5.4em;
    position: relative;
    top: 2ex;
}

#game2 {
    display: none;
    width: 468px;
    margin: 7em auto;
    height: 28.2ex;
}
@media (min-width: 1900px) {
	#game2 {
		height: 57.2ex;
	}
}
#titleGame2 {
    margin-bottom: 3ex;
    font-family: 'Barlow Semi Conndensed';
}

#mePicked {
    display: inline;
    position: relative;
    left: .7rem;
}

#cPicked {
    display: inline;
    left: 14.5em;
    position: relative;
}

#playAgain {
    display: table-cell;
    position: relative;
    left: 2.2em;
    bottom: 1.5em;
    text-align: center;
    font-family: 'Barlow Semi Conndensed';
    width: 11em;
}

#playAgain button {
    text-align: center;
    width: 9em;
    height: 4ex;
    border-radius: 6px;
    font-family: 'Barlow Semi Condensed';
}

#computer {
    left: 3.5em;
    position: relative;
    background-color: white;
    background-image: none;
}

#rules-btn {
    font-family: inherit;
    font-size: 24px;
    width: 5.3em;
    height: 3.2ex;
    float: right;
    position: relative;
    right: .65em;
    color: white;
    background-color: hsl(214, 47%, 23%);
    border-radius: 11px;
}

#rules {
    height: 413px;
    width: 470px;
    margin: 0 auto;
    position: relative;
    bottom: 63ex;
    left: -0.3em;
    background-color: white;
    color: lightgray;
    border-radius: 10px;
}

@media (min-width: 1900px) {
	#rules {
		bottom: 92ex;
	}
}

#titleRules {
    padding-top: 11px;
}

#titleRules1 {
    display: inline;
    position: relative;
    font-size: 1.7rem;
    font-family: inherit;
    left: 3.4rem;
    bottom: 10px;
    color: hsl(214, 47%, 23%);
}

#titleRules2 {
    display: inline;
    position: relative;
    font-family: inherit;
    left: 22.6rem;
    font-size: 1.3rem;
    bottom: 1ex;
}

#row2 {
    display: table;
    margin-left: 2em;
}

#leftArrow {
    position: relative;
    left: 2.5rem;
    bottom: -3px;
}

#BEATS1 {
    color: lightgray;
    position: absolute;
    left: 1rem;
    top: -3px;
}

#scissorsRules {
    position: relative;
    left: 5.3rem;
}

#row3 {
    display: flex;
}

#BEATS2 {
    position: absolute;
    left: 6rem;
    bottom: 150px;
}

#southEastArrow {
    position: relative;
    left: 9rem;
    transform: rotate(12deg);
}

#northRightArrow {
    position: relative;
    left: 14rem;
    transform: rotate(-14deg);
}

#BEATS3 {
    position: absolute;
    right: 5.4rem;
    bottom: 146px;
}

#rockRules {
    position: relative;
    left: 11rem;
}

